/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

# Environnement et fichiers sensibles
storage/*.key
.env
.env.backup
.env.production
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
.phpactor.json
auth.json

# Cache compilé / build
/public/build
/storage/pail

# Ignorer SCORM local (important pour ne pas pousser les ressources lourdes)
public/modules/scorm/*
/storage/framework/*
/storage/logs/*
/storage/debugbar/*
/.phpunit.cache
/resources/scorm/

/.vite
/.vite-inspect

